@model MvcBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="details-flex">

    <h1 class="inner-details-title">@Html.DisplayFor(model => model.Title)</h1>

    <hr>

    <div class="small-details-row">
        <small class="genre-margin">Found in:<a href="#"> @Html.DisplayFor(model => model.Genre.Name)</a></small>
    </div>

    <div class="small-details-flex">
        <div class="small-details-col">
            <div class="small-details-row">
                <img class="detail-image" src="@Model.ImageUrl" alt="@Model.Title">
            </div>
        </div>
        <div class="small-details-col">
            <div>
                <p class="detail-author">@Html.DisplayFor(model => model.Author.Name)</p>
                <p class="details-text">@Html.DisplayFor(model => model.Rating)/10 &#9733;</p>
                <p class="details-text"><b>£@Html.DisplayFor(model => model.Price)</b></p>
                <a class="item-buttons" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.id">ADD TO CART</a>
            </div>

        </div>
    </div>

    <hr />
    <div class="inner-details comment-flex">
        <div class="inner-comment comment-title">

            @using (Html.BeginForm("Details", "Books", FormMethod.Post))
            {
                <div class="rating-head">
                    <p class="rate-header">Leave a Review: @Html.DisplayFor(model => model.Title)</p>
                </div>
                <input name="id_name" id="id_name" value="@Model.id" hidden>
                <div class="rating" id="rating">
                    <input class="star1" type="radio" id="rating" name="rating" value="1" /><label for="star1">&#9733;</label>
                    <input class="star2" type="radio" id="rating" name="rating" value="2" /><label for="star2">&#9733;</label>
                    <input class="star3" type="radio" id="rating" name="rating" value="3" /><label for="star3">&#9733;</label>
                    <input class="star4" type="radio" id="rating" name="rating" value="4" /><label for="star4">&#9733;</label>
                    <input class="star5" type="radio" id="rating" name="rating" value="5" /><label for="star5">&#9733;</label>
                    <input class="star6" type="radio" id="rating" name="rating" value="6" /><label for="star6">&#9733;</label>
                    <input class="star7" type="radio" id="rating" name="rating" value="7" /><label for="star7">&#9733;</label>
                    <input class="star8" type="radio" id="rating" name="rating" value="8" /><label for="star8">&#9733;</label>
                    <input class="star9" type="radio" id="rating" name="rating" value="9" /><label for="star9">&#9733;</label>
                    <input class="star10" type="radio" id="rating" name="rating" value="10" /><label for="star10">&#9733;</label>
                </div>
                <br />
                <label for="CommentText" hidden="hidden"></label>
                <textarea id="CommentText" name="CommentText" rows="4" cols="50" placeholder="Write your review here..."></textarea>
                <br />
                <input type="submit" class="btn review-submit" value="Submit Review!" />
            }
        </div>
    </div>

    <hr />

    <div class="inner-details comment-flex">

        <h1 class="rate-header">What Others Have Said ...</h1>

        @foreach (Comment comment in Model.Comments)
        {
            <div class="comments-flex">
                <div class="comments-row">
                    <div class="part1">@comment.UserId</div>
                    <div class="part1"> @comment.Rating &#9733</div>
                    <div class="part2"> @comment.CommentText</div>
                </div>
            </div>
        }
    </div>

</div>

<!-- jquery for star radio boxes -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ratingContainer = document.getElementById("rating");
        const inputs = ratingContainer.getElementsByTagName("input");

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("click", function () {
                for (let j = 0; j < inputs.length; j++) {
                    const label = ratingContainer.querySelector(`label[for="${inputs[j].id}"]`);
                    if (j <= i) {
                        label.style.color = "gold";
                    } else {
                        label.style.color = "lightgray";
                    }
                }
            });
        }
    });
</script>
