@model IEnumerable<MvcBook.Models.Book>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}

@{
    if (User.Claims.Any(claim => claim.Type == ClaimTypes.Email && claim.Value == "admin@gmail.com"))
    {
        <a class="item-buttons" asp-controller="Books" asp-action="Create">Add New Book</a>
    };
}

<body>
    <div class="genre-page">

        <div class="genre-page-titles">
            <h1 class="inner-details-title genre-title">Browse all @ViewBag.GenreName</h1>
            <form id="search-form" asp-controller="Books" asp-action="Index">
                <input type="hidden" name="g" value="@ViewBag.GenreName" />
                <p class="search-genre">
                    <input class="search-bar-genre" type="text" name="q" placeholder="Search for a Book or Author..." />
                    <input type="submit" value="Search" />
                </p>
            </form>
        </div>

        <div class="genre-container-flex">
            @foreach (var book in Model)
            {
                <div class="genre-container-col">
                    <img class="genre-image" src="@book.ImageUrl" alt="@book.Title">
                    <p class="genre-detail genre-book-title text-center">@(book.Title.Length > 40 ? book.Title.Substring(0, 40) + "..." : book.Title)</p>
                    <p glass="genre-detail text-center genre-genres">
                        @foreach (var author in book.Authors)
                        {
                            @Html.DisplayFor(modelItem => author.Name)
                            if (author != book.Authors.Last())
                            {
                                @Html.Raw(", ")
                            }
                        }
                    </p>
                    <p class="genre-detail">@book.Price.ToString("C")</p>
                    <a class="genre-detail detail-btn" asp-controller="Books" asp-action="Details" asp-route-id="@book.id">Details</a>
                    <a class="genre-detail cart-btn" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@book.id">Add to Cart</a>
                </div>
            }
        </div>
    </div>
</body>
