@model IEnumerable<MvcBook.Models.Book>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Search Results";
}

<div class="books-search-page">
    <h1 class="inner-details-title">
        Search Results for <em class="inner-details-title">'@ViewBag.Search'</em>:
    </h1>

    <div class="search-table">
        @if (ViewBag.Count == 0)
        {
            <p>No results.</p>
        }
        @foreach (var book in Model)
        {
            <div class="row search-row">
                <div class="col">
                    <img class="inner-image search-img" src="@book.ImageUrl" alt="@book.Title">
                </div>
                <div class="col">
                    <a class="search-book-title" asp-controller="Books" asp-action="Details" asp-route-id="@book.id">@book.Title</a>
                </div>
                <div class="col">
                        @foreach (var author in book.Authors)
                        {
                            @Html.DisplayFor(model => author.Name)
                            @if (author != book.Authors.Last())
                            {
                                @Html.Raw(", ")
                            }
                        }
                </div>
                <div class="col">
                    @book.Price.ToString("C")
                    <br />
                        @if (User.Claims.Any(claim => claim.Type == ClaimTypes.Email && claim.Value == "admin@gmail.com"))
                        {
                        <a class="item-buttons" asp-controller="Books" asp-action="Edit" asp-route-id="@book.id">Edit</a>
                        <a class="item-buttons" asp-controller="Books" asp-action="Delete" asp-route-id="@book.id">Delete</a>
                        }
                </div>

            </div>
        }

    </div>
</div>