@model IEnumerable<MvcBook.Models.Book>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Browse the Mvc Book Store</p>
</div>

<h2>Weekly Explore</h2>
<div class="row">
    @{
        var rand = new Random();
        int i = 0;
        var randomPicks = Model.OrderBy(b => rand.Next());
        var weeklyExplore = randomPicks.Where(r => r.Rating >= 5 && r.Genre.Name != "Children's Books" && r.Genre.Name != "Food & Drink");

        foreach (var item in weeklyExplore)
        {
            <div class="col-lg-3">
                <img src="@item.ImageUrl" alt="@item.Title" width="200" height="300">
                <br>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </div>

            i++;
            if (i > 3)
            {
                break;
            }
        }
    }
</div>
<h2>Popular Fiction</h2>
<div class="row">
    @{
        int count = 0;
        var favouriteBooks = Model.Where(g => g.Genre.Name == "Action & Adventure" ||
        g.Genre.Name == "Classics" ||
        g.Genre.Name == "Crime & Thriller" ||
        g.Genre.Name == "Fantasy" ||
        g.Genre.Name == "Graphic Novels & Manga" ||
        g.Genre.Name == "Historical Fiction" ||
        g.Genre.Name == "Horror" ||
        g.Genre.Name == "Philosophy" ||
        g.Genre.Name == "Poetry" ||
        g.Genre.Name == "Romance" ||
        g.Genre.Name == "Sci-Fi");

        foreach (var item in favouriteBooks)
        {
            <div class="col-lg-3">
                <img src="@item.ImageUrl" alt="@item.Title" width="200" height="300">
                <br>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Author.Name)
                <br>
            </div>
            count++;
            if (count > 3)
            {
                break;
            }

        }
    }
</div>

<h2> Best in Non-Fiction</h2>
<div class="row">
    @{
        int secondCount = 0;
        var nonFiction = Model.Where(g => g.Genre.Name == "Art, Fashion & Photography" || 
        g.Genre.Name == "Biography" ||
        g.Genre.Name == "Business, Finance & Law" ||
        g.Genre.Name == "Computing & IT" ||
        g.Genre.Name == "History" ||
        g.Genre.Name == "Languages" ||
        g.Genre.Name == "Health, Wellbeing & Self-Help" ||
        g.Genre.Name == "Politics, Society & Culture" ||
        g.Genre.Name == "Science, Technology & Medicine" ||
        g.Genre.Name == "Spirituality & Religion" ||
        g.Genre.Name == "Travel");


        foreach (var item in nonFiction)
        {
            <div class="col-lg-3">
                <img src="@item.ImageUrl" alt="@item.Title" width="200" height="300">
                <br>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </div>
            secondCount++;
            if (secondCount > 3)
            {
                break;
            }
        }
    }
</div>

<h2>Best in Food & Drink</h2>
<div class="row">
    @{
        int thirdCount = 0;
        var foodDrink = Model.Where(g => g.Genre.Name == "Food & Drink");
        foreach (var item in foodDrink)
        {
            <div class="col-lg-3">
                <img src="@item.ImageUrl" alt="@item.Title" width="200" height="300">
                <br>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Author.Name)
                <br>
            </div>
            thirdCount++;
            if (thirdCount > 3)
            {
                break;
            }

        }
    }
</div>

<h2>Best in Children's</h2>
<div class="row">
    @{
        var childrensChoice = Model.Where(g => g.Genre.Name == "Children's Books");
        var fourthCount = 0;
        @foreach (var item in childrensChoice)
        {
            <div class="col-lg-3">
                <img src="@item.ImageUrl" alt="@item.Title" width="200" height="300">
                <br>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </div>

            fourthCount++;
            @if (fourthCount > 3)
            {
                break;
            }

        }
    }
</div>

    
