@model MvcBook.Models.Order
@{
    ViewData["Title"] = "Confirm Order";
}

<div class="email-section section-head">
    <p>Review Order: @Model.OrderId</p>
    <br />
</div>

<div class="flex-col-email">

    <div class="email-section-order">
        <div class="email-titles"> Cart Summary </div>
        <div class="inner-info">
            @foreach (var item in Model.ShoppingCartItems)
            {
                <div class="row row-section">
                    <div class="col-lg-3 col-sm-3">
                        <img class="basket-img" src="@item.Book.ImageUrl" alt="@item.Book.Title">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <p>@item.Book.Title</p>
                        @foreach (var author in item.Book.Authors)
                        {
                            @Html.DisplayFor(model => author.Name)
                            @if (author != item.Book.Authors.Last())
                            {
                                @Html.Raw(", ")
                            }
                        }
                    </div>

                    <div class="col-lg-3 col-sm-3">
                        <p>@item.Quantity</p>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <p>@((item.Quantity * item.Book.Price).ToString("C"))</p>
                    </div>
                </div>
            }
            <div><b>Order Total: @Model.Total.ToString("C")</b></div>
        </div>
    </div>

    <div class="email-section-delivery">
        <div class="email-titles"> Delivery Details</div>
        <div class="inner-info">
            <div>@Model.FirstName @Model.LastName</div>
            <div>@Model.Address</div>
            <div>@Model.City</div>
            <div>@Model.County</div>
            <div>@Model.PostCode</div>
            <div>@Model.Country</div>
            <div>@Model.Email</div>
            <div>@Model.Phone</div>
        </div>
    </div>

    <form asp-controller="Payment" asp-action="ExecutePayment" method="post">
        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="PaymentTransactionId" />
        <button type="submit" class="btn btn-primary item-buttons complete-payment">Complete Payment</button>
    </form>

</div>




