@model MvcBook.Models.Order

<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>

<body>
    <div class="flex-col-email">
        <div class="email-section section-head">
            <h1 class="inner-details-title">Hi @Model.FirstName, thank you for your order!</h1>
            <br />
            <p>Your order has been confirmed and is on its way. Please keep this receipt for your records.</p>

        </div>

        <div class="email-section-order">
            <div class="email-titles"> Order Summary </div>
            <div class="email-content-row">
                <div class="email-content">
                    <div>Order Number: </div>
                    <div>Order Date: </div>
                    <div>Delivery: </div>
                    <div>Total Cost: </div>
                    <div>Paypal Transaction Number: </div>
                </div>
                <div class="email-content">
                    <div>@Model.OrderId</div>
                    <div>@Model.OrderDate</div>
                    <div>£2.99</div>
                    <div>£@Model.Total</div>
                    <div>@Model.PaymentTransactionId</div>
                </div>
            </div>
        </div>

        <div class="email-section-delivery">
            <div class="email-titles"> Delivery Details</div>
            <div>@Model.FirstName @Model.LastName</div>
            <div>@Model.Email</div>
            <div>@Model.Phone</div>
            <div>@Model.Address</div>
            <div>@Model.City</div>
            <div>@Model.County</div>
            <div>@Model.PostCode</div>
            <div>@Model.Country</div>
        </div>
 
        @foreach (var item in Model.ShoppingCartItems)
        {
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <p>@item.CartId</p>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p>
                        @item.Book.Title

                    </p>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p>@item.Quantity</p>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <p>@(item.Quantity * item.Book.Price)</p>
                </div>
            </div>
        }

        <p>If you have any questions about your order, please contact us at mvcbook@example.com.</p>
        <p>Thanks again for your business!</p>

    </div>
</body>
</html>