@model List<MvcBook.Models.CartItem>
@{
    ViewBag.Title = "Shopping Cart";
}

<div id="ShoppingCartTitle" class="ContentHead">
    <h1>Shopping Cart</h1>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Item Total</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book.Title - @item.Book.Author.Name</td>
                <td>@item.Book.Price.ToString("C")</td>
                <td> @item.Quantity</td>
                <td>@((item.Quantity * item.Book.Price).ToString("C"))</td>
                <td>
                    <a asp-action="DeleteCartItem" asp-route-id="@item.ItemId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td><strong>Order Total: </strong></td>
            <td><strong>@(Model.Sum(item => item.Quantity * item.Book.Price).ToString("C"))</strong></td>
        </tr>
    </tfoot>
</table>
<a asp-controller="ShoppingCart" asp-action="Checkout">Checkout</a>
<br />